*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
libs/
src/androidTest/
src/test/
.idea/
app_common/src/androidTest/java/hr/bagy94/common/
app_common/src/test/java/hr/bagy94/common/

base/
